*~

aclocal.m4
autom4te.cache

config.h.in
config.h
config.log
config.status

Makefile.in
src/Makefile.in

depcomp
install-sh
missing
src/.deps/
src/modules/.deps/
stamp-h1
*.dirstamp

configure
Makefile
src/Makefile

*.o
src/vmodsynth
